body {
  padding: 50px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.logo {
  width: 128px;
  height: 48px;
  margin: 20px 0px 10px 0px;
}

h1 a,
h2 a,
h3 a {
  color: black;
}

h1 u,
h2 u,
h3 u {
  text-decoration: none;
  border-bottom: 1px #ededed solid;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: font-family-sans-serif;
  border: none;
  padding: 0.5em;
  min-width: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.App {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

.logo {
  width: 128px;
  height: 48px;
  margin: 20px 0px 10px 0px;
}

.error {
  /*position: absolute;
  top: 50%;
  left: 0;*/
  margin-top: 2em;
  width: 100%;
  text-align: left;
}

.loading {
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0;
  text-align: center;
}
.adventure-items {
  display: flex;
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: normal;
}

.adventure-item {
  flex-basis: 240px;
  margin: 0 0 2rem;
  padding-right: 14px;
}

.adventure-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin-bottom: 7px;
}

.adventure-item-label {
  width: 100%;
}

.adventure-item-length {
  float: left;
  width: 48%;
}

.adventure-item-price {
  float: right;
  text-align: right;
  width: 48%;
}

.adventure-item-price::before {
  content: "\0024";
}

.adventure-item-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.adventure-item {
  flex-basis: 300px;
}

.adventure-item-image {
  height: 250px;
}

.adventure-detail-title {
  margin-bottom: 1em;
}
.adventure-detail-info {
  width: 25%;
  float: left;
}

.adventure-detail-info-label,
.adventure-detail-info-description {
  border-left: 5px solid grey;
}

.adventure-detail-info-label {
  padding: 10px 0px 5px 20px;
  text-transform: uppercase;
}

.adventure-detail-info-description {
  margin-bottom: 20px;
  padding: 5px 0px 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.adventure-detail-info-price:before {
  content: "\0024";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
  color: #202020;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "Asar", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-top: 19px;
  margin-bottom: 9.5px;
}

.adventure-detail-content {
  width: 75%;
  float: left;
}
adventure-detail-content.img {
  width: 100%;
}

.adventure-detail-content h2 {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

.adventure-detail-primaryimage {
  width: 100%;
}

.adventure-detail-close-button {
  width: 24px;
  float: right;
  margin: 1em;
  background: none;
  border: none;
}

#navMenu {
  padding-top: 10px;
}

.btn {
  text-decoration: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: font-family-sans-serif;
  border: none;
  padding: 0.5em;
  min-width: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.btn:hover,
.active {
  background-color: white;
  color: black;
  border: 1px solid black;
}
